form {
  text-align: center;
}

.inputField {
  display: inline-block;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 2.0em;
  line-height: 1.9;
  font-weight: 300;
  color: #686868;
  text-align: center;
  appearance: none;
  background:
}

.listItem {
  font-size: 1.5em;
  min-width: 200px;
}

.fieldLabel {
  font-size: 2.2em;
  line-height: 1.9;
  font-weight: 100;
  color: #686868;
  padding-left: 5px;
  padding-right: 5px;
}

#input1, #input2, #input3 {
  font-size: 2em;
  min-width: 200px;
  text-align: center;
  color: #1689e5;
  font-weight: 100;
  padding: 0px;
  margin-top: -10px;
}

#input1, #input2 {
  text-transform: lowercase;
}

#input2 {
  min-width: 205px;
}

.getStartedBtn {
  background-color: #187189;
  border: none;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  padding: 5px 40px;
  border-radius: 3px;
}

.btn-group {
  border-bottom: 1px solid #d0d0d0;
}

.glyphicon-menu-down {
  color: #686868;
  font-size: .5em;
  text-align: right;
  padding-left: 165px;
}

.dropdown-menu > li > a {
  color: #686868;
  font-weight: 300;
}

.dropdown-menu > li > a:hover {
  color: #1689e5;
}

small {
  font-size: 2.2em;
  line-height: 1.9;
  font-weight: 200;
  color: #686868;
}

#basicInfo {
  font-weight: 100;
}

#subHeader {
  color: #686868;
  font-weight: 100;
}

label {
  font-weight: 100;
  color: #686868;
}

.form-group {
  text-align: left;
  padding-left; 10px;
  font-weight: 100;
}

.form-control.barSlide {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #d0d0d0;
}

.bar {
  position:relative;
  display:block;
}

.bar:before, .bar:after {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#187189;
  transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%;
}
/* active state */
.form-control.barSlide:focus ~ .bar:before, .form-control.barSlide:focus ~ .bar:after {
  width:50%;
}

.form-control:focus {
  border-color:white;
}

.btn-default {
  float: left;
  border-radius: 10px;
}

.infoBubble {
  width:300px;
  height:300px;
  background-color: #838689;
  border-radius: 50%;
  position:absolute;
  top:0;
  right:10px;
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: 100;
}

.info1 {
  background-color: #187189;
  height: 240px;
  font-size: 17px;
  font-weight: 100;
}

.info2 {
  background-color: ##838689;
  width:300px;
  height:300px;
  left: 0;
  bottom: 0;
  font-weight: 100;
  font-size: 17px;
}

#questions {
  font-weight: 100;
  font-size: 15px;
  margin-top: -5px;
}

.navbar-fixed-bottom ul{
  width: 60%;
  list-style: none;
}

.navbar-fixed-bottom ul li {
  display: inline-block;
  padding-right: 22px;
  padding-left: 10px;
  padding-top: 10px;
}
