form {
  text-align: center;
}

.inputField {
    display: inline-block;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 2.0em;
    line-height: 1.9;
    font-weight: 300;
    color: #686868;
    text-align: center;
    appearance: none;
    background:
}

.listItem {
  font-size: 1.5em;
  min-width: 200px;
}

.fieldLabel {
  font-size: 2.2em;
  line-height: 1.9;
  font-weight: 200;
  color: #686868;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown-toggle {
  font-size: 2em;
  min-width: 200px;
  text-align: center;
  color: #1689e5;
  font-weight: 300;
  padding: 0px;
  margin-top: -10px;
}

#input1, #input2 {
  text-transform: lowercase;
}

#input2 {
  min-width: 205px;
}

.getStartedBtn {
  background-color: #7db900;
  border: none;
  font-size: 2em;
  font-weight: 300;
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 5px;
}

.btn-group {
  border-bottom: 1px solid #d0d0d0;
}

.glyphicon-menu-down {
  color: #686868;
  font-size: .5em;
  text-align: right;
  padding-left: 165px;
}

.dropdown-menu > li > a {
  color: #686868;
  font-weight: 300;
}

.dropdown-menu > li > a:hover {
  color: #1689e5;
}

small {
  font-size: 2.2em;
  line-height: 1.9;
  font-weight: 200;
  color: #686868;
}
