.siLogo {
  width: 104px;
  height: 41px;
  margin-top: 17px;
  margin-left: 100px;
}

.navbar-nav>li>a {
    padding-top: 26px;
}

.regulations {
  font-size: 20px;
}

/* This is for the headings h1 and h4 */
.headingh1 {
  text-align: center;
  font-weight: 100;
}

.headingh4 {
  text-align: center;
  color: grey;
  font-weight: 100;
}

.planheader a{
  font-size: 16px;
}

/* This is for the custom progress bar */
.progress {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 1px;
  height: 38px;
  font-size: 15px;
  box-shadow: none;
  padding-left: 5%;
  padding-right: 5%;
  color: #999;
  font-weight: 100;
}

.progress-bar {
  margin-top: 9px;
}

.index2Progress {
  color: #187189;
}


/* This places the buttons for selction and reading more in the center */
.button {
  text-align: center;
}

.sentence {
  text-align: center;
}

/* "Your Plan" header  collapsable panel */
.panel-heading {
  height: 80px;
}

.panel-heading.customPanel {
  background-color: #54B948;
}
.accordion-toggle.yourPlan {
  text-decoration: none;
}

.regulations {
  font-size: 36px;
  font-weight: 100;
}
.industry {
  font-size: 16px;
  color: grey;
}

.regList {
  list-style:none;
  color: grey;
  text-indent: 30px;
}

.iconDiv {
  display: inline-grid;
  font-size: 30px;
}

.priority {
  font-size: 20px;
  font-weight: lighter;
}
.inputPageVariables {
  padding: 0 50px 5px 15px;
  font-weight: 600;
  color: #F7F7F7;
}

#collapseTwo {
  border: 1px solid #ddd;
}

.fa-list-alt.panelIcon, .fa-chain-broken.panelIcon, .fa-shield.panelIcon, .fa-envira.panelIcon {
  color: black;
  font-size: 1.5em;
}

.fa-chain-broken.panelIcon

.tableLabels {
  padding: 0 15px 0 15px;
  font-style: normal;
  font-weight: 100;
  color: black;
}

.moreItems a {
  text-decoration: none;
}

.moreItems a:hover {
  font-weight: bold;
}

/* This is for the round map picture for results pages */
.mapDiv {
 background-color: #f9f9f9 ;
 border-radius: 150px;
 display: block;
 float: left;
 height: 300px;
 margin-left: 5%;
 margin-right: 5%;
 margin-bottom: 30px;
 max-width: 300px;
 padding: 36.8098px 1%;
}

.mapDiv2 {
 border-radius: 150px;
 display: block;
 float: left;
 height: 300px;
 margin-top: -30px;
 margin-left: 5%;
 margin-right: 5%;
 margin-bottom: 30px;
 max-width: 300px;
 padding: 36.8098px 1%;
}

#myChart {
  width: 280px;
  height: 280px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-left: 25px;
}
/*.col-sm-6 {
  border-right: 1px solid black;
/*}*/

.footer {
  background-color: #2C2C2C;
  color: green;
  height: 45px;
}

td a {
  color: grey;
}

td a:hover {
text-transform: full-width;
color: #187189;
text-decoration: none;
}

.leftColHeader {
  margin-left: 60px;
  font-weight: 500;
  font-size: 15px;
}
.tableHeader {
  margin-left: 135px;
  font-weight: 500;
  font-size: 15px;
}

.slideTest:hover {
  transform: translate(10px, 0);
  transition: 0.5s;
}

.slideTest {
  padding-top: 17px;
  padding-bottom: 17px;
  transition: 0.5s;
}

.rightTableRows {
  border-bottom: 1px solid #ddd;
}

/* @@@@@@@@@@@@ Everything below this point is for the navbar @@@@@@@@@@@@  */

/* This lets you hover over the dropdowns for functionality */
.dropdown:hover .dropdown-menu {
display: block;
}

/* Panel height */
.navbar-header {
  height: 80px;
}

.wrapper-dropdown-5 {
    /* Size & position */
    position: absolute;
    width: 200px;
    margin: 0 auto;
    padding: 12px 15px;
    /* Styles */
    background: transparent;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: transparent;
}
.wrapper-dropdown-5 .dropdown {
/* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  /* Styles */
  background:transparent;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: none;
  border-bottom: none;
  list-style: none;
  transition: all 0.3s ease-out;

  /* Hiding */
  max-height: 0;
  overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: transparent;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: transparent;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: transparent;
}

/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    /*background: #4cbeff;*/
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

.fixed-panel {
  min-height: 10;
  max-height: 10;
  overflow-y: scroll;
}

.navbar-fixed-bottom ul{
  width: 60%;
  list-style: none;
}

.navbar-fixed-bottom ul li {
  display: inline-block;
  padding-right: 22px;
  padding-left: 10px;
  padding-top: 10px;
}

.navbar-fixed-bottom ul li a {
  text-decoration: none
}

.detailsBtn {
  text-indent: -37px;
}

.col-sm-5.infoLeft {
  border-right: 1px solid #ddd;
  width: 456px;
}
.col-sm-5.infoRight {
  margin-left: 50px;
}

.mainPanelLabel {
  color: black;
  font-size: 1.4em;
  font-weight: 100;
}

.accordion-toggle.yourPlan span {
  color: black;
  font-size: 1.4em;
  font-weight: 100;
}

/*.panel-heading.customPanel:hover {
  opacity: 0.8;
}*/

.col-sm-4.greyBox {
  background-color: #EFEFEF;
  height: 100%;
  margin-top: -10px;
  padding-bottom: 36px;
}
